<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <p class="test">Hello, {{ name }} & {{ name2 }} !</p>

    <script src="//localhost:35729/livereload.js"></script>


</body>
</html>