<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <p class="test">Hello, {{ name }} & {{ name2 }} !</p>

    {% include 'components/22.html.twig'
        with {'description': 'app.description'|trans}
    %}

    <p>{{ 'title'|trans }}</p>
    <p>{{ 'app.link'|trans }}</p>

    <script src="//localhost:35729/livereload.js"></script>

</body>
</html>
