<!DOCTYPE html>
<html lang="{{ locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Florent LE BOULCH" />
        <meta name="keywords" content="Florent LE BOULCH, portfolio" />
        <meta name="description" content="{{ 'meta.description'|trans }}">

        <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- unable IE to switch to compatibility style -->
        <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- mobile first -->

        <!-- favicon -->
        <link rel="icon" type="image/png" href="" />

        <title>{% block page_title %}{% endblock %}</title> <!-- the title of the page -->

        <!-- build:css css/vendor.min.css -->
        <!-- bower:css -->
        <!-- endbower -->
            <link rel="stylesheet" href="css/vendor_tmp.css">
        <!-- endbuild -->

        <!-- build:css css/portfolio.min.css -->
            <link rel="stylesheet" href="css/1.css">
            <link rel="stylesheet" href="css/styles.css">
            <link rel="stylesheet" href="css/dev/navbar.css">
            <link rel="stylesheet" href="css/ribbon.css">
            <link rel="stylesheet" href="css/homepage.css">
        <!-- endbuild -->

    </head>
    <body class="{{ pageType|default('') }}">

        <!--
            Comments
            on multiples
            lines
        -->

        {# Another comment #}

        <!-- env:dev -->
            {% include 'ribbon.html.twig' %}
        <!-- env:dev:end -->

        {% include 'navbar.html.twig' %}

        {% block content %}
        {% endblock %}

        <!-- build:js js/vendor.min.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
        <!-- endbower -->
        <!-- endbuild -->


        <!-- build:js js/portfolio.min.js -->
            <script src="js/main.js"></script>
            <script src="js/main2.js"></script>
            <script src="js/dev/dev.js"></script>
        <!-- endbuild -->

        <!-- env:dev -->
            <script src="//localhost:35729/livereload.js"></script>
        <!-- env:dev:end -->

    </body>
</html>
