<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <!-- build:css css/portfolio.css -->
        <link rel="stylesheet" href="css/1.css">
        <link rel="stylesheet" href="css/styles.css">
    <!-- endbuild -->


</head>
<body>
    <p class="test">Hello, {{ name }} & {{ name2 }} !</p>

    {% include 'components/22.html.twig'
        with {'description': 'app.description'|trans}
    %}

    <p>{{ 'title'|trans }}</p>
    <p>{{ 'app.link'|trans }}</p>

    <!-- build:js js/portfolio.min.js -->
        <script src="js/main.js"></script>
        <script src="js/main2.js"></script>
    <!-- endbuild -->

    <script src="//localhost:35729/livereload.js"></script>

</body>
</html>
