<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title> <!-- here the title of the page -->

    <!-- build:css css/portfolio.min.css -->
        <link rel="stylesheet" href="css/1.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/dev/navbar.css">
        <link rel="stylesheet" href="css/ribbon.css">
    <!-- endbuild -->


</head>
<body>

    <!--
        Comments
        on multiples
        lines
    -->

    {# Another comment #}

    <!-- env:dev -->
        {% include 'ribbon.html.twig' %}
    <!-- env:dev:end -->

    <!-- env:dev -->
    <h1>For devs eyes only</h1>
    <p>This will be visible in 'dev' environment</p>
    <!-- env:dev:end -->

    <!-- env:prod -->
    <h1>For everyone</h1>
    <p>This will be visible in 'prod' environment</p>
    <!-- env:prod:end -->

    <p class="test">Hello, {{ name }} & {{ name2 }} !</p>

    {% include 'components/22.html.twig'
        with {'description': 'app.description'|trans}
    %}

    <p>{{ 'title'|trans }}</p>
    <p>{{ 'app.link'|trans }}</p>

    {% include 'components/picture.html.twig' with {
        'name': 'istic-env',
        'alt': 'pictures.home1'|trans
    } %}

    {% include 'components/picture.html.twig' with {
        'name': 'hq',
        'ext': 'png',
        'alt': 'pictures.home1'|trans
    } %}

    {% include 'components/picture.html.twig' with {
        'name': 'unsplash',
        'alt': 'pictures.home1'|trans
    } %}

    <!-- build:js js/portfolio.min.js -->
        <script src="js/main.js"></script>
        <script src="js/main2.js"></script>
        <script src="js/dev/dev.js"></script>
    <!-- endbuild -->

    <!-- env:dev -->
        <script src="//localhost:35729/livereload.js"></script>
    <!-- env:dev:end -->

</body>
</html>
